#footer {
  display: block;
}
.vertical-align {
    display: flex;
    align-items: center;
}
/* end-global */

/* chile-body-paths */
.chile-outline {
  fill-rule: nonzero;
  clip-rule: nonzero;
  stroke: #000000;
}
.chile-main-red{
  fill: #992300;
  stroke-width: 4;
}
.chile-main-green{
  fill:   #57A431;
  stroke-width:   4;
}

.chile-stem {
  fill: #99FF66;
  stroke-width: 4;
}
.chile-highlight {
  fill-rule: nonzero;
  clip-rule: nonzero;
  fill: none;
  stroke: #000000;
  stroke-width: 2;
}
.chile-highlight-accent {
  opacity: 0.5;
}
.chile-highlight-accent-2 {
  opacity: 0.75;
}
.chile-reflection {
  fill: #FFFFFF;
}
/* end-chile-paths */

.chile-types {
  flex: 1;
}

.chile {
  cursor: pointer;
}
.chile:hover {
  animation: spicy 1s linear infinite; /* IE 10+, Fx 29+ */
  z-index: 100;
}


.xs-chile-rotate {
  animation: spicy 1s linear infinite;
  z-index: 100;
}

@keyframes spicy {
  0%   { transform: rotate(0deg); }
  25%   { transform: rotate(20deg) scale(1.15); z-index: 1000; }
  50% { transform: rotate(0deg); z-index: 1; }
  75% { transform: rotate(-20deg); }
  100%   { transform: rotate(0deg); }
}
/* end-chile-layout */

/* footer */
footer {
  flex: 1 1 auto;
  min-height: 135px;
  text-align: center;
}

/* end-footer */

/* compatibility */
@-ms-viewport{
  width: device-width;
}
